@font-face {
  font-family: 'Bitstream';
  src: url("fonts/vera-webfont.eot");
  src: url("fonts/vera-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/vera-webfont.woff") format("woff"), url("fonts/vera-webfont.ttf") format("truetype"), url("fonts/vera-webfont.svg#bitstream_vera_sansroman") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Bitstream';
  src: url("fonts/verabd-webfont.eot");
  src: url("fonts/verabd-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/verabd-webfont.woff") format("woff"), url("fonts/verabd-webfont.ttf") format("truetype"), url("fonts/verabd-webfont.svg#bitstream_vera_sansbold") format("svg");
  font-weight: bold;
  font-style: normal; }

body {
  margin: 0px;
  padding: 0px;
  font-family: "Courier New";
  width: 100%;
  height: 100%; }

body.dim {
  background: black; }

a {
  font-weight: bold;
  color: #0033a0;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0px 2px; }

a:hover {
  color: white;
  background: #0033a0; }

body.dim a {
  color: lime; }

body.dim a:hover {
  color: black;
  background: lime; }

span {
  margin-left: -2000px; }

span.typeo {
  margin-left: 0px;
  white-space: normal; }

.typeo h3 {
  display: inline-block;
  border-bottom: 5px dotted black;
  margin: 0px 0px 10px 0px;
  text-shadow: none; }

#aolol.txt {
  white-space: normal; }

#aolol.why {
  font-size: 12px;
  overflow: auto; }

body.dim .typeo h3 {
  border-bottom: 5px solid lime; }

body.dim span.typeo, body.dim #aolol.txt {
  font-family: Menlo, Monaco, "Bitstream", "Courier New";
  color: lime;
  text-shadow: 0 0 2px lime; }

nav {
  border-bottom: 1px;
  padding: 18px 0px;
  border-bottom: 18px solid black;
  margin-bottom: 18px;
  font-family: Menlo, Monaco, "Bitstream", "Courier New";
  width: 100%;
  color: black;
  text-transform: uppercase; }

body.dim nav {
  color: lime;
  text-shadow: 0 0 2px lime;
  border-bottom: 18px solid lime; }

nav .logotype {
  margin-left: 18px;
  display: inline; }

nav ul {
  margin: 0px;
  position: absolute;
  right: 18px;
  top: 18px;
  padding: 0px; }

nav ul li {
  display: inline;
  padding: 2px 5px;
  cursor: pointer; }

nav ul li:hover {
  color: white;
  background: black; }

body.dim nav ul li:hover {
  color: black;
  background: lime; }

.lightbox {
  position: fixed;
  font-family: Menlo, Monaco, "Bitstream", "Courier New";
  display: none;
  position: absolute;
  min-height: 360px;
  width: 540px;
  top: 50%;
  left: 50%;
  margin-left: -270px;
  margin-top: -180px;
  background: white;
  border: 18px solid black;
  padding: 18px;
  font-size: 18px;
  color: black; }

body.dim .lightbox {
  background: black;
  border-color: lime;
  color: lime;
  text-shadow: 0 0 2px rgba(0, 255, 0, 0.5); }

.lightbox #flash {
  white-space: pre-line;
  margin-bottom: 90px; }

.lightbox .escape {
  text-align: center;
  position: absolute;
  bottom: 36px;
  left: 50%;
  margin-left: -78px;
  padding: 2px 5px; }

.lightbox .escape:hover {
  background: black;
  color: white; }

body.dim .lightbox .escape:hover {
  background: lime;
  color: black; }

.range {
  display: table; }

.navigable .range {
  cursor: pointer; }

.navigable .range:first-child {
  cursor: auto; }

pre {
  font-family: "Courier New";
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.content > div {
  display: none; }

#aolol {
  display: block;
  margin-left: 20px;
  white-space: pre;
  overflow: auto; }

@-webkit-keyframes blinkz {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes blinkz {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes blinkz {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes blinkz {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

/*@-webkit-keyframes cursor-blink {
  0%   { background: #0a0 }
  47%  { background: #090 }
  50%  { background: #000 }
  97%  { background: #000 }
  100% { background: #090 }
}

@-moz-keyframes cursor-blink {
  0%   { background: #0a0 }
  47%  { background: #090 }
  50%  { background: #000 }
  97%  { background: #000 }
  100% { background: #090 }
}

@-ms-keyframes cursor-blink {
  0%   { background: #0a0 }
  47%  { background: #090 }
  50%  { background: #000 }
  97%  { background: #000 }
  100% { background: #090 }
}

@-o-keyframes cursor-blink {
  0%   { background: #0a0 }
  47%  { background: #090 }
  50%  { background: #000 }
  97%  { background: #000 }
  100% { background: #090 }
}*/
#blink {
  display: inline-block;
  margin-left: 1px;
  /*-webkit-animation: cursor-blink  2s linear 0s infinite;
  -moz-animation: cursor-blink  2s linear 0s infinite;
  -ms-animation: cursor-blink  2s linear 0s infinite;
  -o-animation: cursor-blink  2s linear 0s infinite;*/ }

@media only screen and (max-width: 1025px) {
  #aolol.why {
    font-size: 8px; } }
@media only screen and (max-device-width: 480px) {
  nav {
    color: black;
    border-bottom: 8px solid black;
    padding-bottom: 0px; }

  nav .logotype {
    display: block;
    text-align: center; }

  nav ul {
    font-size: 18px;
    position: relative;
    text-align: center;
    margin: auto;
    left: 0px;
    top: 0px;
    margin: 0px; }

  nav ul li {
    height: 100%;
    line-height: 50px; }

  nav ul li a {
    height: 100%; }

  body.dim nav {
    border-bottom: 8px solid lime; }

  #aolol {
    font-size: 12px; }

  #aolol.txt {
    font-size: 30px; }

  .lightbox {
    width: 100%;
    height: 100%;
    margin: 0px;
    border: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 99;
    padding: 0px; }

  .lightbox #flash {
    margin-bottom: 90px;
    padding: 10px; }

  .lightbox .escape {
    position: relative;
    margin-left: 0px;
    left: 0px;
    bottom: 0px;
    -webkit-animation: blinkz 1.5s linear 0s infinite;
    -moz-animation: blinkz 1.5s linear 0s infinite;
    -ms-animation: blinkz 1.5s linear 0s infinite;
    -o-animation: blinkz 1.5s linear 0s infinite;
    animation: blinkz 1.5s linear 0s infinite; }

  .lightbox .escape:hover {
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none; } }
